.u-section-1 .u-sheet-1 {
  min-height: 1749px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  width: 724px;
  margin: 165px auto 0;
}

.u-section-1 .u-list-1 {
  width: 724px;
  margin: 34px auto 50px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 7px 7px;
  grid-template-columns: 100%;
  min-height: 1468px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 7px;
}

.u-section-1 .u-group-1 {
  width: 38px;
  min-height: 38px;
  height: auto;
  margin: 6px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 34px 4px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 7px;
}

.u-section-1 .u-group-2 {
  width: 38px;
  min-height: 38px;
  height: auto;
  margin: 6px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 34px 4px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 7px;
}

.u-section-1 .u-group-3 {
  width: 38px;
  min-height: 38px;
  height: auto;
  margin: 6px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 34px 4px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 7px;
}

.u-section-1 .u-group-4 {
  width: 38px;
  min-height: 38px;
  height: auto;
  margin: 6px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 34px 4px 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 7px;
}

.u-section-1 .u-group-5 {
  width: 38px;
  min-height: 38px;
  height: auto;
  margin: 6px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 34px 4px 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 7px;
}

.u-section-1 .u-group-6 {
  width: 38px;
  min-height: 38px;
  height: auto;
  margin: 6px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 34px 4px 0 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 7px;
}

.u-section-1 .u-group-7 {
  width: 38px;
  min-height: 38px;
  height: auto;
  margin: 6px auto 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-15 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 34px 4px 0 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 7px;
}

.u-section-1 .u-group-8 {
  width: 38px;
  min-height: 38px;
  height: auto;
  margin: 6px auto 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 34px 4px 0 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 7px;
}

.u-section-1 .u-group-9 {
  width: 38px;
  min-height: 38px;
  height: auto;
  margin: 6px auto 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-19 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 34px 4px 0 0;
}

.u-section-1 .u-container-layout-19 {
  padding: 0 7px;
}

.u-section-1 .u-group-10 {
  width: 38px;
  min-height: 38px;
  height: auto;
  margin: 6px auto 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-21 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 34px 4px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-7 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-text-13 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-text-15 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-text-17 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-text-19 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-group-10 {
    height: auto;
  }

  .u-section-1 .u-text-21 {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1850px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
  }

  .u-section-1 .u-text-13 {
    width: auto;
  }

  .u-section-1 .u-text-14 {
    width: auto;
  }

  .u-section-1 .u-text-15 {
    width: auto;
  }

  .u-section-1 .u-text-16 {
    width: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
  }

  .u-section-1 .u-text-18 {
    width: auto;
  }

  .u-section-1 .u-text-19 {
    width: auto;
  }

  .u-section-1 .u-text-20 {
    width: auto;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 413px;
}

.u-section-2 .u-group-1 {
  width: 1000px;
  min-height: 222px;
  background-image: none;
  height: auto;
  margin: 15px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 25px 10px;
}

.u-section-2 .u-icon-1 {
  width: 25px;
  height: 25px;
  margin: 0 auto 0 5px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 1.6;
  font-size: 1.25rem;
  margin: 14px 10px 0 0;
}

.u-section-2 .u-icon-2 {
  width: 25px;
  height: 25px;
  margin: 37px 5px 0 auto;
}

.u-section-2 .u-group-2 {
  width: 416px;
  min-height: 132px;
  height: auto;
  margin: 14px auto 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 7px;
}

.u-section-2 .u-social-icons-1 {
  min-height: 16px;
  width: 40px;
  min-width: 16px;
  height: 40px;
  margin: 7px auto 0;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 250px;
  margin: 7px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-icon-1 {
    width: 34px;
    height: 34px;
  }

  .u-section-2 .u-icon-2 {
    width: 34px;
    height: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-bottom: 27px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 105px;
}

.u-section-3 .u-group-1 {
  width: 206px;
  min-height: 89px;
  height: auto;
  margin: 8px auto;
}

.u-section-3 .u-social-icons-1 {
  height: 35px;
  min-height: 16px;
  width: 125px;
  min-width: 68px;
  margin: 11px auto 0;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-text-1 {
  font-size: 0.9375rem;
  margin: 8px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: 235px;
  }
}
