.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 50px;
}

.u-section-2 .u-social-icons-1 {
  min-height: 16px;
  width: 118px;
  min-width: 70px;
  height: 28px;
  margin: 11px auto 0;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: -21px 776px 0 6px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: -24px 6px 15px 765px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 55px;
  }

  .u-section-2 .u-social-icons-1 {
    min-width: 94px;
    margin-top: 14px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -24px;
    margin-right: 623px;
    margin-left: 42px;
  }

  .u-section-2 .u-text-2 {
    margin: -25px 42px 21px 529px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 52px;
  }

  .u-section-2 .u-social-icons-1 {
    width: 110px;
    min-width: 70px;
    height: 26px;
    margin-top: 13px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 486px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: -21px 16px 16px 454px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-social-icons-1 {
    width: 101px;
    height: 24px;
    margin-top: 14px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
    margin-top: -19px;
    margin-right: 343px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin: -14px 17px 19px 341px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 34px;
  }

  .u-section-2 .u-social-icons-1 {
    width: 78px;
    height: 18px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.625rem;
    margin-top: -15px;
    margin-right: 220px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    margin: -12px 0 11px 214px;
  }
}
