.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1176px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 269px;
  margin: 37px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: normal;
  width: 814px;
  margin: 61px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 854px;
  margin: 63px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 536px;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-1 .u-map-1 {
  left: auto;
  right: auto;
}

.u-section-1 .u-group-1 {
  min-height: 84px;
  width: 258px;
  height: auto;
  margin: 61px auto 27px;
}

.u-section-1 .u-social-icons-1 {
  width: 151px;
  min-width: 20px;
  white-space: nowrap;
  height: 44px;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(85, 172, 238) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-text-2 {
  font-size: 0.9375rem;
  margin: 16px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1230px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 259px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 554px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 222px;
    height: auto;
  }

  .u-section-1 .u-social-icons-1 {
    min-width: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1092px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 168px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 424px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 255px;
    margin-top: 62px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 99px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-1 .u-image-1 {
    height: 161px;
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 51px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 123px;
    margin-bottom: 60px;
  }
}
