.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1791px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 45px 369px 0 334px;
}

.u-section-1 .u-tabs-1 {
  min-height: 1104px;
  width: 906px;
  height: auto;
  margin: 45px auto 60px;
}

.u-section-1 .u-tab-list-1 {
  background-image: none;
}

.u-section-1 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 0.75rem;
  background-image: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 25px;
}

.u-section-1 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 0.75rem;
  background-image: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 25px;
}

.u-section-1 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 0.75rem;
  background-image: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 307px;
  min-height: 179px;
  height: auto;
  margin: 39px 27px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 112px;
  height: 112px;
  background-image: url("images/-021.png");
  background-position: 50% 50%;
  margin: 6px 55px 0 98px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 17px 0 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.8;
  font-size: 0.875rem;
  margin: 22px 33px 0 22px;
}

.u-section-1 .u-group-2 {
  width: 139px;
  min-height: 37px;
  height: auto;
  margin: 45px 15px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 9px;
}

.u-section-1 .u-text-6 {
  line-height: 1.8;
  font-size: 0.875rem;
  width: auto;
  margin: 27px 22px 0;
}

.u-section-1 .u-group-3 {
  width: 152px;
  min-height: 37px;
  height: auto;
  margin: 35px 15px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-8 {
  line-height: 1.8;
  font-size: 0.875rem;
  margin: 34px 22px 0 32px;
}

.u-section-1 .u-group-4 {
  width: 152px;
  min-height: 37px;
  height: auto;
  margin: 39px 15px 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 2px 0 0;
}

.u-section-1 .u-text-10 {
  line-height: 1.8;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 27px 22px 0 32px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 122px 388px 0 auto;
  padding: 2px 13px 3px 12px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: 307px;
  min-height: 179px;
  height: auto;
  margin: 39px 27px 0 auto;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0;
}

.u-section-1 .u-image-2 {
  width: 112px;
  height: 112px;
  background-image: url("images/-02.png");
  background-position: 50% 50%;
  margin: 6px 55px 0 98px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 11px 0 0;
}

.u-section-1 .u-text-13 {
  line-height: 1.8;
  font-size: 0.875rem;
  margin: 22px 32px 0 22px;
}

.u-section-1 .u-group-6 {
  width: 139px;
  min-height: 37px;
  height: auto;
  margin: 45px 15px 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 9px;
}

.u-section-1 .u-text-15 {
  line-height: 1.8;
  font-size: 0.875rem;
  margin: 27px 29px 0;
}

.u-section-1 .u-group-7 {
  width: 152px;
  min-height: 37px;
  height: auto;
  margin: 35px 15px 0 auto;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-17 {
  line-height: 1.8;
  font-size: 0.875rem;
  margin: 15px 15px 0 39px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 94px auto 0;
  padding: 2px 4px 4px 3px;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-group-8 {
  width: 307px;
  min-height: 179px;
  height: auto;
  margin: 39px 27px 0 auto;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0;
}

.u-section-1 .u-image-3 {
  width: 112px;
  height: 112px;
  background-image: url("images/c5b9f572-0e63-3e08-86db-d418b4dfa8ea..jpg");
  background-position: 50% 18.25%;
  margin: 6px 55px 0 98px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 11px 0 0;
}

.u-section-1 .u-text-20 {
  line-height: 1.8;
  font-size: 0.875rem;
  margin: 22px 32px 0 22px;
}

.u-section-1 .u-group-9 {
  width: 139px;
  min-height: 37px;
  height: auto;
  margin: 45px 15px 0 auto;
}

.u-section-1 .u-text-21 {
  font-size: 1rem;
  margin: 0 9px;
}

.u-section-1 .u-text-22 {
  line-height: 1.8;
  font-size: 0.875rem;
  margin: 27px 29px 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 15px auto 0 279px;
  padding: 1px 6px 2px 5px;
}

.u-section-1 .u-group-10 {
  width: 152px;
  min-height: 37px;
  height: auto;
  margin: 24px 15px 0 auto;
}

.u-section-1 .u-text-23 {
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-text-24 {
  line-height: 1.8;
  font-size: 0.875rem;
  margin: 16px 16px 0 38px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 35px auto 0 279px;
  padding: 2px 6px 3px 5px;
}

.u-section-1 .u-group-11 {
  width: 152px;
  min-height: 37px;
  height: auto;
  margin: 8px 15px 0 auto;
}

.u-section-1 .u-text-25 {
  font-size: 1rem;
  margin: 0 1px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 27px 76px 0 auto;
  padding: 3px 9px 3px 8px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 32px 76px 0 auto;
  padding: 2px 4px 4px 3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 269px;
    margin-left: 234px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-8 {
    margin-left: 33px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-left: 33px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-group-10 {
    height: auto;
  }

  .u-section-1 .u-group-11 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 159px;
    margin-left: 124px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 1151px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-tab-link-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 27px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 39px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 30px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 86px;
    margin-right: auto;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 18px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 49px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 23px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 39px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-left: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 97px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 93px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 27px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 69px;
    margin-left: 34px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 1282px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-tab-link-3 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-group-3 {
    width: 138px;
    margin-top: 34px;
    margin-left: 387px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 9px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 35px;
  }

  .u-section-1 .u-group-4 {
    width: 131px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 9px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 9px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 16px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1248px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 46px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 1073px;
    margin-bottom: 46px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 0.625rem;
    padding: 10px;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 0.625rem;
    padding: 10px;
  }

  .u-section-1 .u-tab-link-3 {
    padding: 10px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 27px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 22px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 15px;
    margin-right: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-7 {
    width: 123px;
    margin-left: 202px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 9px;
    margin-left: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 63px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 16px;
    margin-left: 27px;
  }

  .u-section-1 .u-group-10 {
    margin-top: 23px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 27px;
  }

  .u-section-1 .u-btn-5 {
    padding-right: 8px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 39px;
  }
}